//- 继承layout
extends ../layout 

block content
  .container
    .row
      //- 设置表单提交的方法和提交地址
      form.form-horizontal(method='post', action='/admin/category')
        .form-group
          label.col-sm-2.control-label(for='inputCategory') 电影分类
          .col-sm-10
            input#inputCategory.form-control(type='text', name='category[name]',value=category.name)    
        //- jade渲染变量直接用category.name，当他的值为undefined或者null则显示为空
        .form-group
          .col-sm-offset-2.col-sm-10
          button.btn.btn-primary(type="submit") 录入