doctype
html
  head
    meta(charset='utf-8')
    title #{title} 
    //- 把样式抽象为一个区块
    include ./includes/head
    style body{padding-bottom: 50px;}
  body
    include ./includes/header
    block content